<footer>
    <div class="contact">
        <img class="logo" [ngStyle]="{height:'150px'}" src='/assets/logo/logo1.png'/>
        <div class="contact-details">
            <a href="tel:0524281071">052-428-1071<fa-icon [icon]="faPhone"></fa-icon></a>
            <a href="mailto:eldad_gaziel@yahoo.com">eldad_gaziel@yahoo.com<fa-icon [icon]="faMailBulk"></fa-icon></a>
            <div>
                <a target="_blank" href="https://www.facebook.com/E.GCONSTUCTION/"><fa-icon class="facebook" [icon]="faFacebook"></fa-icon></a>
                <a target="_blank" href="https://www.instagram.com/e.g_construction/"><fa-icon [icon]="faInstagram"></fa-icon></a>   
                <a target="_blank" href="https://vm.tiktok.com/ZSJd5rocr/"><fa-icon [icon]="faTiktok"></fa-icon></a>             
            </div>
        </div>
    </div>
</footer>