<div class="contact">
    <h5 class="contact-title">צור קשר</h5>
    <!-- <form class="form-box" (submit)="submitForm(); $event.preventDefault()">
        <div *ngIf="!isSubmited; else mailSubmited" class="row">
          <input type="text" placeholder="שם" class="form-control"/>
          <input type="tel" placeholder="טלפון" class="form-control"/>
          <input type="text" placeholder="מתעניין ב.." class="form-control"/>
          <button type="submit" class="btn btn-light" ngbButtonLabel>שליחה</button>
       </div>
       <ng-template class="form-box" #mailSubmited>
         קיבלנו את פנייתך, תודה!
       </ng-template>
      </form> -->
</div>